button {
  transition: background 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

span {
  transition: background 0.3s ease;
}

img {
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.opacity-100 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}
