<header class="flex justify-between items-center px-16 py-4 bg-[#7C4EE4] text-white shadow-lg">
  <div class="text-3xl font-bold tracking-wide">
    LOGO
  </div>
  <nav>
    <ul class="flex gap-6 text-lg">
      <li>
        <a class="hover:text-blue-400 transition-colors duration-300" routerLink="/home">
          HOME
        </a>
      </li>
      <li>
        <a class="hover:text-blue-400 transition-colors duration-300" routerLink="/about">
          ABOUT
        </a>
      </li>
      <li>
        <a class="hover:text-blue-400 transition-colors duration-300" routerLink="/albums">
          ALBUMS
        </a>
      </li>
    </ul>
  </nav>
</header>

<section
  class="flex flex-col lg:flex-row items-center justify-between px-16 py-16 bg-gradient-to-r from-blue-50 to-blue-100 h-[90vh]">
  <div class="lg:w-1/2 text-center lg:text-left">
    <p class="text-4xl font-extrabold text-[#7C4EE4] mb-6">
      Hello, this is LAB 6 Angular
    </p>
    <p class="text-lg text-gray-700 leading-relaxed">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio earum error expedita libero nihil
      numquam obcaecati odit perspiciatis, quaerat quod suscipit tempora totam. Aliquid expedita magnam perferendis quae
      quos!
    </p>
    <button
      class="mt-8 px-6 py-3 bg-[#7C4EE4] text-white rounded-lg hover:bg-blue-700 transition duration-300 shadow-md">
      Explore More
    </button>
  </div>

  <div class="lg:w-1/2 mt-10 lg:mt-0">
    <img
      alt="img"
      class="rounded-lg shadow-lg hover:scale-105 transition-transform duration-300"
      src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202410/one-piece-will-return-in-april-2025-with-a-new-arc-153338935-16x9_0.jpg?VersionId=JRxFeDY5kyREyeucuxMJkiow88fm8bhj&size=690:388"
    />
  </div>
</section>
