#hero-bg {
  background-image: url("https://cdn.pixabay.com/photo/2024/06/30/10/28/sky-8862862_1280.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}
