<div class="w-full flex justify-center items-center h-screen">
  <div class="text-white bg-[#7C4EE4] flex justify-center items-center flex-col w-fit px-40 py-10 gap-8 rounded-2xl">
    <h1 class="text-9xl font-bold text-white">404</h1>
    <p class="text-2xl">Sorry!</p>
    <p class="text-2xl">The link is broken, try to refresh or go to home</p>
    <button (click)="goToHome()"
            class="px-12 text-2xl cursor-pointer hover:scale-110 py-4 rounded-xl bg-white text-[#7C4EE4]">Go to home
    </button>
  </div>
</div>
